{% extends "base.html" %}
{% block title %}Estatísticas - LeituraPlay{% endblock %}

{% block content %}
<h2 class="display-6 fw-bold text-center text-roxo-texto mb-4">Minhas Estatísticas</h2>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card mb-3 shadow-sm border-0 text-center">
      <div class="card-body">
        <h5 class="card-title text-purple fw-bold">Livros lidos</h5>
        <p class="card-text fs-3 fw-bold">10</p>
      </div>
    </div>
    <div class="card mb-3 shadow-sm border-0 text-center">
      <div class="card-body">
        <h5 class="card-title text-purple fw-bold">Indicações feitas</h5>
        <p class="card-text fs-3 fw-bold">1</p>
      </div>
    </div>
    <div class="card mb-3 shadow-sm border-0 text-center">
      <div class="card-body">
        <h5 class="card-title text-purple fw-bold">Medalhas</h5>
        <p class="card-text">Leitor dedicado</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
